VITE_SUPABASE_URL=https://[something].supabase.co
VITE_SUPABASE_ANON_KEY=[your_anon_key]
VITE_API_BASE_URL=http://localhost:8787

SUPABASE_PROJECT_REF=gkaizhqpckaaiyjrrjxf
SUPABASE_SERVICE_KEY=[your_service_key]
SUPABASE_VISITOR_EMAIL=[your_visitor_email]
SUPABASE_VISITOR_PASSWORD=[your_visitor_password]

PGHOST=aws-1-us-east-2.pooler.supabase.com
PGPORT=6543
PGUSER=postgres.[something]
PGPASSWORD=[your_db_password]
PGDATABASE=postgres

# Cloudflare Configuration for cache purging and deployment
CLOUDFLARE_API_TOKEN=[your_api_token]
CLOUDFLARE_PROJECT=[your_pages_project_name]
CLOUDFLARE_ZONE_ID=[your_zone_id]
CLOUDFLARE_KV_NAMESPACE_ID=[your_kv_namespace_id]
CLOUDFLARE_I18N_KV_NAMESPACE_ID=[your_i18n_kv_namespace_id]
